[submodule "themes/herring-cove"]
	path = themes/herring-cove
	url = https://github.com/spf13/herring-cove.git
[submodule "themes/hugo-elate-theme"]
	path = themes/hugo-elate-theme
	url = https://github.com/saey55/hugo-elate-theme
[submodule "public"]
	path = public
	url = git@github.com:jose-villegas/jose-villegas.github.io.git
[submodule "themes/hugo-tracks-theme"]
	path = themes/hugo-tracks-theme
	url = https://github.com/ageekymonk/hugo-tracks-theme.git
[submodule "themes/hugo-nederburg-theme"]
	path = themes/hugo-nederburg-theme
	url = https://github.com/appernetic/hugo-nederburg-theme.git
