{{ define "main" }}

<div class="col-md-12 entry">
  <div class="row">
    <div class="col-md-12">
      <div class="entry-meta">
        {{ .Date.Format "Monday, 02 January, 2006" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="entry-header">
       {{ .Title }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="entry-sidebar">
        CATEGORIES        
        <div class="entry-categories">
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
          <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a> 
        {{ end }}
        </div>
        TAGS        
        <div class="entry-tags">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a> 
        {{ end }}
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="entry-content">
        {{ .Content }}
      </div>
    </div>
  </div>

  <hr/>
  {{ template "_internal/disqus.html" . }}

</div>
{{ end }}
